.toggle-slider {
  .slider-label {
    padding-top: 5px;
    padding-right: 10px;
  }

  .bs-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      display: none;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #fff;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }

      &.round {
        -webkit-border-radius: 34px;
        border-radius: 34px;

        &:before {
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }

    [type='checkbox']:checked,
    [type='checkbox']:not(:checked) {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
}
